<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My CV</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/cv.css" />
    <link rel="stylesheet" href="/css/contact_styles.css" />
  </head>
  <body>
    <%- include("./partials/my-navbar.ejs")%>

    <nav>
      <ul>
        <li id="name">HAI FA-001</li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#work">My Work</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div id="statement">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        alt=""
      />
      <div id="rotating-div"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
        reiciendis laborum ad quam non quas, aut hic voluptatum iste iure nobis
        consequuntur, cum quos rerum tempora rem ex ea saepe.
      </p>
    </div>

    <div id="experience">
      <div id="html">
        <span>HTML</span>
        <div class="progress"></div>
        <p>7 Years</p>
      </div>
      <div id="css">
        <span>CSS</span>
        <div class="progress"></div>
        <p>3 Years</p>
      </div>
      <div id="js">
        <span>JavaScript</span>
        <div class="progress"></div>
        <p>5 Years</p>
      </div>
    </div>

    <div id="work">
      <h1>MY WORK</h1>
      <div class="my-row">
        <div class="my-cell">
          <h2>E-commerce Site</h2>
          <p>1 Year</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>Social Media</h2>
          <p>1.5 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>UNIV Site</h2>
          <p>2 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
      </div>
      <div class="my-row">
        <div class="my-cell">
          <h2>ABC Site</h2>
          <p>3 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>XYZ Site</h2>
          <p>0.5 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>DEF Site</h2>
          <p>1 Year</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
      </div>
      <div class="my-row">
        <div class="my-cell">
          <h2>ABC Site</h2>
          <p>3 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>XYZ Site</h2>
          <p>0.5 Years</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
        <div class="my-cell">
          <h2>DEF Site</h2>
          <p>1 Year</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            eaque nemo voluptatem, asperiores pariatur assumenda ratione
            officiis consectetur, adipisci laboriosam quasi consequatur
            laudantium dignissimos eius perferendis. Est asperiores itaque fuga!
          </p>
        </div>
      </div>
    </div>

    <div id="other-people-said">
      <h1>See what others have said</h1>
      <div class="people-said">
        <q>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
          corrupti explicabo nesciunt reprehenderit, officiis velit numquam
          libero ea dignissimos doloremque voluptatum soluta laudantium dolorem
          sint! Amet tempore dolor consequuntur praesentium!
        </q>
        ~ ABC DEF
      </div>
      <div class="people-said">
        <q>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
          corrupti explicabo nesciunt reprehenderit, officiis velit numquam
          libero ea dignissimos doloremque voluptatum soluta laudantium dolorem
          sint! Amet tempore dolor consequuntur praesentium!
        </q>
        ~ ABC DEF
      </div>
      <div class="people-said">
        <q>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
          corrupti explicabo nesciunt reprehenderit, officiis velit numquam
          libero ea dignissimos doloremque voluptatum soluta laudantium dolorem
          sint! Amet tempore dolor consequuntur praesentium!
        </q>
        ~ ABC DEF
      </div>
    </div>
    <div id="footer">
      <div id="contact">
        <a href="">Facebook</a>
        <a
          href="https://github.com/l-laidev/web-tech_fa21-bcs-001"
          target="_blank"
        >
          Github
        </a>
        <a href="">Twitter</a>
        <a href="">Whatsapp</a>
      </div>
      <p>FA21-BCS-001</p>
      <p>Assignment 1</p>
    </div>
  </body>
</html>
